.container {
  height: 100%;
}

.listContainer, .cardContainer {
  height: 100%;
  overflow: auto;
  padding: 10px;
  box-sizing: border-box;
}

.listContainer {
  flex-grow: 1;
}

.cardContainer {
  flex-grow: 5;
  padding-left: 0px;
}

.card {
  height: 100%;
}

.descriptions table {
  width: auto !important;
}